/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.tlp-indicator {
width: 0.6em;
height: 0.6em;
border-radius: 50%;
margin-right: 4px;
display: inline-block;
pointer-events: none;
}

.tlp-banner {
    text-align: center;
    font-weight: bold;
    padding: 4px;
    color: white;
    margin-bottom: 4px;
}

@keyframes tlp-fade-in {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.tlp-banner.show {
    animation: tlp-fade-in 0.5s ease;
}
